In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine, MetaData

con_str = "postgresql+psycopg2://user:password@postgres:5432/datascience"
engine = create_engine(con_str)
conn = engine.connect()
conn

In [3]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
dataset3
About Project_Mock Data
About Project_Detail_Product_Mock Data
About Herb - เวชกรรมไทย
dataset1
dataset2

In [4]:
#pip install pandas

In [5]:
import pandas as pd 
df = pd.read_csv("About Project_Mock Data - 2023.csv")
df

,Project_ID,Project_name,Organization,Project_type,Budget,Status,Start_date,End_date,Completed,Lated_End_Date
0,6400000001,คลินิกวิทยาศาสตร์การกีฬา มหาวิทยามหิดล,Mahidol University,Medical Imformation System Developments,10000.0,Doing,23/10/2566,27/4/2566,NaN,NaN
1,6400000002,Herb MedApplication,DSI_OMD_TU,Product/Fomulas Devlopments,0.0,Done,23/10/2566,24/4/2566,On-Time,NaN
2,6400000003,หมอบอก,DSI_OMD_TU,Product/Fomulas Devlopments,0.0,Done,23/10/2566,24/4/2566,On-Time,NaN
3,6400000004,Thaipod,DSI_OMD_TU,Product/Fomulas Devlopments,0.0,Done,23/10/2566,24/4/2566,On-Time,NaN
4,6400000005,MindErba,DSI_OMD_TU,Product/Fomulas Devlopments,NaN,Done,23/10/2566,24/4/2566,NaN,NaN
5,6400000006,"Sport Science Medicine and Performance Center,...",DSI_OMD_TU,Journal,0.0,Done,1/1/2566,27/4/2566,On-Time,NaN
6,6400000007,Research on the rule of Traditional Chinese me...,DSI_OMD_TU,Journal,0.0,Done,1/1/2566,27/4/2566,Lated,27/5/2566
7,6400000008,Data Center พืชสมุนไพรและการใช้สมุนไพรรักษา,คลีนิกนายแพทย์หมอสมหมาย,Medical Imformation System Developments,10000.0,To-do,1/2/2566,1/7/2566,NaN,NaN

In [6]:
df.to_sql(name='About Project_Mock Data', con=con_str, index=False, if_exists='replace')

8