In [1]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.11/site-packages (24.0)

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine, MetaData

con_str = "postgresql+psycopg2://user:password@postgres:5432/datascience"
engine = create_engine(con_str)
conn = engine.connect()
conn

In [4]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
my_table
dataset1

In [5]:
import pandas as pd
df = pd.DataFrame(
    {
        'col1':[1,2,3],
        'col2':[4,5,6]
    }
)
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [6]:
df.to_sql(name='my_table', con=con_str, if_exists='replace')

3

In [7]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
dataset1
my_table